body, table, th, td {
  background-color: #333 !important;
  color:#ccc !important;
  border-color:#666 !important;
}

input.form-control, input.form-control:focus {
  background-color: black !important;
  color:#ccc !important;
  border-color:#666 !important;
}

.form-check-input {
  background-color: black ;
  border-color:#666 ;
}